html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 30px 0 20px;
  box-sizing: border-box;
}


#app {
  height: 100%;
  width: 80%;
  min-width: 1000px;
  margin: 0 auto;
  display: flex;
  & > nav {
    width: 257px;
    height: 100%;
    .el-scrollbar {
      height: 100%;
    }
  }
  .logo {
    padding-left: 20px;
  }
  // .menu {
  //   width: 220px;
  //   height: 100%;
  // }
  main {
    flex: 1;
    padding-left: 20px;
    box-sizing: border-box;
  }
}
